.env
*.sqlite
__pycache__/
*.pyc
*_backup.py
*.backup
*.save
*.mp3
*.mp4
*.m4a
*.wav
*.flac
*.jpg
*.jpeg
*.png
*.webp
input_*
output_*
final_*
cover_*
video_*
extracted_*
audio_*
original_*
converted_*
compressed_*
